.DS_Store
.Rproj.user

/.luarc.json
/.quarto/

# virtualenv
venv/
.venv/
ENV/
virtualenv/
myenv/

# notebook
.ipynb_checkpoints/

# extension files
examples/cheat_sheet.aux
examples/cheat_sheet.log
examples/cheat_sheet.out
examples/cheat_sheet.sty
examples/cheat_sheet.tex
examples/cheat_sheet.pdf
examples/ansys.png
examples/bground.png
examples/slash.png

# output files
_build/
