.DS_Store
.Rproj.user

/.luarc.json
/.quarto/

# virtualenv
venv/
.venv/
ENV/
virtualenv/
myenv/

# notebook
.ipynb_checkpoints/

# extension files
cheat_sheet.aux
cheat_sheet.log
cheat_sheet.out
cheat_sheet.sty
cheat_sheet.tex
cheat_sheet.pdf
slash.png
bground.png
ansys.png

# output files
_build/
